{% extends "base_generic.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <div class="p-3 mb-2 bg-info text-white">
    <h1 class="card-title">BBC Class Assignments</h1>
  </div>
    <p class="card-text lead">Welcome to BBC Class, a website developed by <em>Martin Mambo</em>!</p>
  </p>
    <p class="card-text font-weight-bold">The Class has the following record counts:</p>
  </p>
  <ul>
    <li class="text-monospace"><strong>Assignments:</strong> {{ num_assignments }}</li>
    <li class="text-monospace"><strong>Units:</strong> {{ num_units }}</li>
    <li class="text-monospace"><strong>Group Assignments:</strong> {{ group_assignments }}</li>
    <li class="text-monospace"><strong>Individual Assignments:</strong> {{ individual_assignments }}</li>
    
  </ul>
  </div>
</div>
{% endblock %}

  <h1></h1>
  <p class="lead">Welcome to BBC Class, a website developed by <em>Martin Mambo</em>!</p>
  <h2>Records</h2>
  <p>The Class has the following record counts:</p>
  <ul>
    <li><strong>Assignments:</strong> {{ num_assignments }}</li>
    <li><strong>Units:</strong> {{ num_units }}</li>
    <li><strong>Group Assignments:</strong> {{ group_assignments }}</li>
    <li><strong>Individual Assignments:</strong> {{ individual_assignments }}</li>
    
  </ul>
